.side-menu-box{
	/*border-style: none;*/
	margin: 0;
	/*background-color: #284255;*/
	color: #FFFFFF;
	margin-top: 2%;
	margin-bottom: 6%;
	margin-left: 10%;
	margin-right: 10%;
}
#profile-img{
	margin-top: 10%;
	width: 100px;
	height: 100px;
	/*border-radius: 60px;*/
	border-radius: 50%;
	background-image: url("./../img/icon/set1/man.png");
	background-size: cover;
	background-color: #FFFFFF;
	cursor: pointer;
}
.menu_buttons{
	border-style: none;
	background-color: #284255;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 16px;
	margin-top: 4%;
	margin-bottom: 4%;
	width: 100%;
	text-align: left;
	border-radius: 2px;
}
.menu_buttons:hover{
	transform: scale(1.03);
}