body,html{
	background-color: #F3F7FD; /*celestino chiaro*/
	/*background-color: #c5c8c9;*/ /*grigio chiaro*/
	margin: 0;
	padding: 0;
	font-family: "Atlas Grotesk Web","Open sans",sans-serif;
	color: #383838;
	width: 100%;
	height: 100%;
}
div{
	/*
	border-style: solid;
	border-width: 0.1px;
	border-color: black;
	*/
}
#left-side{
	position: fixed;
	left: 0;
	top: 0;
	width: 10%;
	height: 100%;
	text-align: left;
	/*background-color: #F3F7FD;*/
	background-color: #284255;
}
#right-side{	
	position: absolute;
	left: 10%;
	width: 90%;
	top: 0;
	margin: 0;
}
#top-bar-container{
	margin-bottom: 0.5%;
	background-color: #FFFFFF;
	height: 55px;
	width: 100%;
	position: fixed;
	box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.top-bar-box{
	/* display: inline-block; */
	height: 85%;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
}
#search-bar-container{
}
.prova{
	height: 100%;
	float: left;
}
#search-bar{
	outline: none;
	width: 450px;
	font-size: 16px;
	padding-left: 0.3em;
	padding-right: 0;
	border: 0 none;
	border-radius: 2px;
	box-shadow: 0 0 1px rgba(0,0,0,0.6);
	height: 34px;

	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
}
#search-bar:focus{
	/*
	  Il border c'è sempre, quando l'elemento ha il focus cambio colore al border. 
	  In questo modo non ho movimenti nel resto del layout
	*/
	border-color: #91DFAA;
}
#search-button{
	text-align: center;
	font-size: 15px;
	padding: 0;
	margin:0;
	width: 30px;
	height: 37px;
	cursor: pointer;
	background-color: #91DFAA;
	color: #FFFFFF; 
	border: 0 none;
	border-radius: 0 1px 1px 0;
	box-shadow: 0 0 1px rgba(0,0,0,0.6);
	position: relative;
	right:34.7px;
	bottom: 0.15px;
}
#search-button:hover{
	background-color: #91DF00;
}
.command-buttons{
	outline: none;
	text-align: center;
	width:35px; 
	height:37px;
	cursor: pointer;
	background-color: #FFFFFF;
	color: #FFFFFF; 
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	position: relative;
	bottom: 0.15px;
}
.command-buttons:hover{
	background-color: #F3F7FD;
}
.command-buttons:focus{
	outline: none;
	border-style: solid;
	border-width: 1px;
	background-color: #91DFAA;
}
.appointment-container{
	margin-top: 10px;
	/*margin-bottom: 0.5%;*/
	height: 80px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 8px rgba(0,0,0,.12);
	border-radius: 2px;
}
.appointment-container:last-child{
	/*background-color: #000000;*/
	margin-bottom: 10px;
}
.appointment-header{
	width: 100%;
	background-color: #ECEEF0;
	height: 25px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	/*box-shadow: 0 8px 6px -6px black;*/
	box-shadow: 0 2px 8px rgba(0,0,0,.12);
}
#workspace{
	margin-top: 65px;
}
#appointments-viewer{
	float:left;
	width: 70%;
	padding-left: 10px;
	padding-right: 10px;
}
#calendar-container{
	float:left;
	padding: 0.3em;
	width: 27%;
}