#user_info{
	width: 45%;
	float: left;
	margin-top: 10px;
	margin-left: 20px;

	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,.08);

	padding: 10px;
}
#booking_table{
	margin-top: 10px;
	margin-left: 20px;
	/*padding: 20px;*/
	width: 43%;
	margin-left: 4%;
	float: left;
	/*
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,.08);
	*/

}
.profile_image{
	width: 40%;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
#booking-table-info{
	text-align: center;
}
.form-container{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	background-color: #000000;
	opacity: 0.2;

	position: absolute; /* elemento fisso, non segue lo scroll */
	z-index: 2; /* livello superiore al sito */

	top: 0; /* distanza dal margine superiore */
	left: 0; /* distanza dal margine sinistro */

	display: none;
}
#confirm-appointment-form{

	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,.08);

	z-index: 3; /* livello superiore al sito */
	position: absolute;
	top:20;
	left:33%;
	width: 30%;
	display:none;
	padding: 1%;
}
#confirm_notes_appointment{
	resize: none;
}
.confirm-message-box{
	position: absolute; /* elemento fisso, non segue lo scroll */
	z-index: 2; /* livello superiore al sito */

	top: -35%; /* distanza dal margine superiore */
	left: 35%; /* distanza dal margine sinistro */

	width: 30%; /* larghezza elemento */
	height: 18%; /* altezza elemento */
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,.08);

	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-top: 0.5%;
	text-align: center;
	font-size: 18px;
}
.confirm-message-box:p{
	color: 'red';
}
.img-confirm-box{
	width: 10%;
}
.profile-img-container{
	text-align: center;
}
.profile-name-container{
	text-align: center;
	font-weight: bold;
	font-size: 26px;
}
.profile-setting-icon{
	width: 100%;
}
.profile-setting-button{
	margin-left: 10px;
	width: 5%;
	border-style: none;
	background-color: #FFFFFF;
}
.profile-setting-button:hover{
	cursor: pointer;
}
.profile-info-container{
	padding: 10%;
}
#profile-info-labels{
	margin-left: 13%;
	font-size: 16px;
	font-weight: normal;
	text-align: right;
}
.confirm-appointment-header{
	text-align:center;
	font-size: 18px;
	font-weight: bold;
}
.profile-info{
	float: left;
	padding-left: 3%;
	padding-top: 3%;
	padding-right: 5%;
	font-size: 16px;
	font-weight: bold;
	width: 30%;
}
.save-button{
	text-align: center;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 10px;
	width: 100%;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	cursor: pointer;
	background-color: #91DFAA;
	color: #000000;
	/*background-color: #91DFAA;*/
	/*color: #000000;*/
	border-style: none;
	border-width: 0;
	border-radius: 0;
}
.save-button:hover{
	background-color: #91DFAF;
	/*background-color: #91DF00;*/
}
#exit_button{
	background-color: red;
	color: #FFFFFF;
}
#exit_button:hover{
	background-color: red;
}
.input-text{
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 4%;
	width: 100%;
	padding-left: 4%;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}
.input-text:focus{
	border-style: solid;
	border-width: 1.2px;
	border-color: #4285F4;
}
.input-text-error{
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 4%;
	width: 96%;
	padding-left: 4%;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	background-color: rgb(255,0,0,0.1);
	border-style: solid;
	border-width: 1.2px;
	border-color: #8B0000;
}
.error_message{
	display: none; /* Viene modificato poi dal javascript*/
	background-color: rgb(255,0,0,0.1);
	color: #8B0000;
	font-size: 15px;
	margin-bottom: 3%;
	padding-left: 2%;
	padding-right: 2%;
	border-style: solid;
	border-width: 1.5px;
	border-color: red;
}
