#user_info{
	width: 45%;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}
#booking_table{
	margin-top: 10px;
	margin-left: 20px;
	/*padding: 20px;*/
	width: 47%;
	float: left;
}
.profile_image{
	width: 40%;
}
#booking-table-info{
	text-align: center;
}
.form-container{
	width: 100%;
	margin: 0;
	padding: 0;
	display: none;
}
#confirm-appointment-form{
	margin-left: 20%;
	margin-right: 20%;
	background-color: #FFFFFF;
}