div, section{
	/*
	border-style: solid;
	border-width: 1px;
	border-color: black;
	*/
}
.central-container{
	
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0;
}
#register-box-container{
	margin-left: 25%;
	margin-right: 25%;
}
#register-box-header{
	text-align: center;
}
.register_box{
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.register_box > h3 {
	font-size: 26px;
	margin: 0;
}
.register_box > p {
	margin: 0;
	font-size: 13px;
}